* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.whatsapp-button {
    display: flex;
    align-items: center;
    background-color: #25D366;
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.whatsapp-button i {
    margin-right: 5px;
}

.contact-button {
    background-color: #fff;
    border: 1px solid #333;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #333;
    color: #fff;
}

.login-container {
    margin-top: 50px;
    background-color: #eaf6ff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.login-container h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #d3e9ff;
}

.login-button {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    background-color: #555;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}
